/*
@font-face {
    font-family: Raleway;
    src: url(Raleway-Medium.ttf);
}*/
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"),
		url("ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2")
		format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC,
		U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 20px;
	/* font-family: Raleway; */
	font-family: "Source Sans Pro";
	font-size: small;
}

nav {
	text-align: center;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	margin-top: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: medium;
}

nav a {
	padding-left: 30px;
	padding-right: 30px;
	border-right: 1px solid #DDD;
	font-weight: bold;
	color: #000;
	/* font-variant:small-caps; */
}

nav a.last {
	border-right: 0px solid #DDD;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	background-color: #CCC;
	border-radius: 4px;
}

nav a:hover {
	background-color: #CCC;
	border-radius: 4px;
	padding-top: 15px;
	padding-bottom: 15px;
}

section a:hover {
	padding: 5px;
}

#presentation {
	padding: 40px;
	border-bottom: 1px solid #DDD;
}

section {
	border-top: 1px solid #DDD;
}

section.left {
	float: left;
	padding: 40px;
	border-right: 1px solid #DDD;
}

section.right {
	float: left;
	padding: 40px;
}

h2 {
	font-size: medium;
}

td {
	padding-right: 10px;
}

footer {
	width: 100%;
	float: left;
	text-align: center;
	font-style: italic;
	padding-top: 20px;
	padding-bottom: 20px;
}