@CHARSET "ISO-8859-1";

body {
	// font-size: 1.3em;
}

footer {
	text-align:center;
}

nav{
	padding-bottom: 20px;
}

p {
	padding-top: 20px;
	padding-bottom: 20px;
}

.ul_space {
	padding-top: 5px;
}

.ul_space li{
	padding-bottom: 20px;
}

.info {
	width: 300px;
	position: relative;
	left: 500px;
	top: 20px;
}
.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}